<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletTraining</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>firstServlet</servlet-name>
  	<servlet-class>com.nrifintech.febjspservletbatch.servlets.MyFirstServlet</servlet-class>
  	
  	<init-param>
  		<param-name>firstServletInitParam</param-name>
  		<param-value>SampleFirstServletInitParamValue</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>firstServlet</servlet-name>
  	<url-pattern>/first-servlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>objectScopeServlet</servlet-name>
  	<servlet-class>com.nrifintech.febjspservletbatch.servlets.ServletObjectsAndScopes</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>objectScopeServlet</servlet-name>
  	<url-pattern>/object-scope-servlet</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>sampleInitParamFromWebXML</param-name>
  	<param-value>SomeValueFromWeb.xml</param-value>
  </context-param>
  
  <context-param>
  	<param-name>sampleInitParamFromWebXML2</param-name>
  	<param-value>SomeValueFromWeb.xml2</param-value>
  </context-param>
</web-app>