<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JSPServletTrainingProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>helloWorld.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>firstServlet</servlet-name>
  	<servlet-class>com.nrifintech.febjspservletbatch.servlets.MyFirstServlet</servlet-class>
  	
  	<init-param>
  		<param-name>firstServletInitParam</param-name>
  		<param-value>SampleFirstServletInitParamValue</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>firstServlet</servlet-name>
  	<url-pattern>/first-servlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>objectScopeServlet</servlet-name>
  	<servlet-class>com.nrifintech.febjspservletbatch.servlets.ServletObjectsAndScopes</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>objectScopeServlet</servlet-name>
  	<url-pattern>/object-scope-servlet</url-pattern>
  </servlet-mapping>
  
  <context-param>
  	<param-name>sampleInitParamFromWebXML</param-name>
  	<param-value>SomeValueFromWeb.xml</param-value>
  </context-param>
  
  <context-param>
  	<param-name>sampleInitParamFromWebXML2</param-name>
  	<param-value>SomeValueFromWeb.xml2</param-value>
  </context-param>
  
  <context-param>
  	<param-name>JDBC_URL</param-name>
  	<param-value>jdbc:postgresql://localhost/postgres</param-value>
  </context-param>
  
  <context-param>
  	<param-name>DB_USERNAME</param-name>
  	<param-value>postgres</param-value>
  </context-param>
  
  <context-param>
  	<param-name>DB_PASSWORD</param-name>
  	<param-value>postgres</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>serve-forwarded-request</servlet-name>
  	<servlet-class>com.nrifintech.febjspservletbatch.servlets.TakeForwardedRequestServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>serve-forwarded-request</servlet-name>
  	<url-pattern>/serve-forwarded-request</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>serve-client-request</servlet-name>
  	<servlet-class>com.nrifintech.febjspservletbatch.servlets.ForwardMeServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>serve-client-request</servlet-name>
  	<url-pattern>/serve-client-request</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>redirectHereServlet</servlet-name>
  	<servlet-class>com.nrifintech.febjspservletbatch.servlets.RedirectHereServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>redirectHereServlet</servlet-name>
  	<url-pattern>/redirect-here-servlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>redirectServlet</servlet-name>
  	<servlet-class>com.nrifintech.febjspservletbatch.servlets.RedirectServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>redirectServlet</servlet-name>
  	<url-pattern>/redirect-servlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>jdbcConnectionServlet</servlet-name>
  	<servlet-class>com.nrifintech.febjspservletbatch.servlets.JDBCConnectionTest</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>jdbcConnectionServlet</servlet-name>
  	<url-pattern>/jdbc-connection-servlet</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/error-404.jsp</location>
  </error-page>
  
  <!-- <error-page>
  	<error-code>500</error-code>
  	<location>/error-500.jsp</location>
  </error-page> -->
  
  <error-page>
  	<exception-type>java.io.IOException</exception-type>
  	<location>/io-exception.jsp</location>
  </error-page>
  
  <filter>
  	<filter-name>loggingFilter</filter-name>
  	<filter-class>com.nrifintech.febjspservletbatch.filter.LoggingFilter</filter-class>
  	
  	<init-param>
  		<param-name>someFilterInitParam</param-name>
  		<param-value>someFilterInitValue</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>loggingFilter</filter-name>
  	<url-pattern>/filtered-dir/*</url-pattern>
  	<!-- <url-pattern>/redirect-here-servlet</url-pattern> -->
  <!-- 	<url-pattern>*.jsp</url-pattern> -->
  </filter-mapping>
  
  <filter>
  	<filter-name>orderTestFilter</filter-name>
  	<filter-class>com.nrifintech.febjspservletbatch.filter.FilterToTestOrder</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>orderTestFilter</filter-name>
  	<url-pattern>/filtered-jsp.jsp</url-pattern>
  	<!-- <url-pattern>/redirect-here-servlet</url-pattern> -->
  </filter-mapping>
  
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>com.nrifintech.febjspservletbatch.servlets.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>logoutServlet</servlet-name>
  	<servlet-class>com.nrifintech.febjspservletbatch.servlets.LogoutServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>logoutServlet</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <listener>
  	<listener-class>com.nrifintech.febjspservletbatch.listeners.ServletContextEventHandler</listener-class>
  </listener>
  <listener>
  	<listener-class>com.nrifintech.febjspservletbatch.listeners.ServletContextAttributeEventHandler</listener-class>
  </listener>
  <listener>
  	<listener-class>com.nrifintech.febjspservletbatch.listeners.HttpSessionEventHandler</listener-class>
  </listener>
  
  <jsp-config>
  	<taglib>
  		<taglib-uri>/WEB-INF/tld/myTagLibrary</taglib-uri>
  		<taglib-location>/WEB-INF/tld/myTagLibrary.tld</taglib-location>
  	</taglib>
  </jsp-config>
</web-app>